body{
    background:rgb(180, 122, 128);
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;

}
.navbar{
    height:5rem;
    background-color:white;
}
.fa-compass{
    color:#fe424d;
}
.nav-link{
    color:#222222 !important;
}
/*footer */
.f-info-links a{
text-decoration: none;
color:#222222;
}

.f-info-links a:hover{
text-decoration:underline;
color:#222222;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    font-size: 1.2rem;
    margin-left: 2rem;
}
/*card stylings*/
.listing-card{
    border:none !important;
    margin-bottom : 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover !important; 
}

.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
    border-radius: 1rem;
}
.add-btn{
    background-color: #ee2431 !important;
    border:none !important;
}
.hover:hover{
    color:red;
}
